.thumbnailContainer img{
    margin-top: 20px;
    border-radius: 10px;

    width: 185px;
    height: auto;
}
.detailInfoBox{

}

.detailViewBox{
  display: flex;
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}


.bottomWarp{

  width: 1240px;
  margin: 0 auto;
}