.loginLayout {
    width: 560px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 180px 0px 60px 340px;
    padding-top: 20px;
    background-color:#252525;
    color: white ;
    
}