.dotItemBox{
 display: flex;

  /*background-color: red;*/
}

.dotItem{
  color: #A5A5A5;
  font-weight: bolder;

  padding: 2px;
}
.dotItem img{
  width:20px;
  height: 20px;
}

.synopsis{
  color: #A5A5A5;
  font-weight: bolder;
}

.synopsis button{
  color: #FFFFFF;
  font-weight: bolder;

  background-color: transparent;
  border: none;
}

.titleImageContainer img{

  width: 40%;
  /*width: 285px;*/
  margin-bottom: 20px;
}

.brandBox{
  margin-bottom: 30px;

}

.videoDetailBox{
 /*background-color: #61dafb;*/

  width: 100%;
}