.listBadge {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.listBadge {
    width: 44px;
    height: 44px;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    background: url("https://www.wavve.com/img/element-icons-tag-ic-brand-wavve.3546d071.svg") transparent no-repeat;
}