.midTitle {
     display: flex;
     flex-direction: column;
     justify-items: center;
     align-items: center;
     painddg: 20px 0px 10px 0px;
     margin-bottom: 20px;
     color: #9C9C9C;
     font-size: 18px;
     font-weight: bold;
 }

.midLoginBox {
    width: 440px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 10px 25px;
    size: 100px;
 }

.midLoginBox input {
    color: white;
}

.inputId {
    padding: 17px;
    background-color:#2F2F2F ;
    margin-bottom: 8px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 14px;
}

.inputPassword {
    padding: 17px;
    background-color:#2F2F2F ;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 13px;
}

.checkBox {
    display: flex;
    align-items: center;
    padding: 0px 0px 10px 25px;
    margin-bottom: 25px;
    border: none;
    size: 50px;
    }

.check {
    /*-webkit-appearance: none; !* 기본 스타일 제거 *!*/
    /*appearance: none;*/
    accent-color: blue;
    width: 20px;
    height: 20px;
    cursor: pointer;
    /* 배경색 설정 */
    background-color: #2F2F2F; /* 배경 색상 */
    border: 1px solid white; /* 테두리 스타일 */
    border-radius: 3px; /* 모서리 둥글게 */
}

.checkBoxDetail {
    font-size: 13px;
    font-weight: bold;
    padding: 0px 10px 0px 5px;
    color: #989591;
}

.loginBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 20px;
    width: 450px;
    border-radius: 50px;
    background-color: #1351F9;
    color: white;
    font-size: 18px;
    font-weight: 900px;
}
.midInfoFind {
    width: 440px;
    padding: 0px 10px 40px 10px;
    text-align: center;
    color: #989591;
    font-size: 14px;
    font-weight: bold;
}

.divider::before {
    content: " | ";
    padding: 0px 5px 0px 5px;
  }

.divider::after {
    content: " | ";
    padding: 0px 5px 0px 5px;

  }
