.playerNav {
  border-bottom: 1px solid #2f2f2f;
}

.playerNav ul {
  display: flex;
  /* justify-content: center; */
}
.playerNav li {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.playerNav button {
  background-color: transparent;
  cursor: pointer;
  color: #a5a5a5;
  border: none;
  font-weight: bold;
}
