body {
  background-color: #1B1B1B;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;


}

.videoContentWrap{
  position: relative;
  /*width: 1240px;*/

  display: flex;
  justify-content: center;
  align-items: center;

  width:50%;
  height: 654px;

  margin: 0 auto;
}


.backdropContainer{
  position: absolute;
  width: 1240px;
  /*width:100%;*/

  height: 654px;


}

.backdropContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


}

.videoDetailContainer{
  position: absolute;

  /*컨테이너 기준 %*/
  width: 70%;

  width: 1000px;
  bottom: 0;
  left: -330px;

  padding: 20px;

  /*background-color: #1351f9;*/

}
{

}