.vedioDetailBox {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
}

.logoBox {
}
.logoBox img {
  width: 392px;
  height: 120px;
}

.metadataList {
  display: flex;

  color: #a5a5a5;
}

.ageRestriction {
  width: 23.99px;
  height: 23.99px;
}
