.channelPairingArea {
  background-color: #1b1b1b;
  color: #a4a4a4;
}

.channelPairingTitle {
  color: white;
  font-size: 15px;
  padding-top: 15px;
  padding-left: 0;
}

.channelPairingList {
  list-style: none;
  display: flex;
}

.channelPairingTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px  ;
  border: 1px solid #333;
  white-space: nowrap;
  margin-bottom: 15px;
}