.videoList{
  height: 160px;
  background-color: #1b1b1b;
  padding-left: 200px;
  padding-right: 255px;
}

.titleList{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.videoTitle {
  color: white;
  font-size: 30px;
  margin-top: 20px ;
}

.loginButton{
  width: 200px;
  height: 50px;
  font-size: 15px;
  background-color: #1351F9;
  color: white;
  border: none;
  border-radius: 25px;
  margin-top: 20px;
}

.videoIconList {
  list-style: none;
  padding: 8px;
  display: flex;
  width: 100%
}

.videoIconText {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a4a4a4;
}

.videoIcon {
  padding: 5px;
  width: 35px;
  height: 28px;
}

.iconTitle {
  font-size: 12px;
}

