.channelPairingArea {
  background-color: #1b1b1b;color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
}

.channelPairingTitle {
  color: white;
  font-size: 22px;
  padding: 15px ;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #333;
}

li:last-child {
  border-bottom: none;
}

.current {
  background-color: #1e90ff;
}

.title {
  font-weight: bold;
}

.time {
  color: #aaa;
}