.iconBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  padding-right: 255px;
  background-color: #252525;
  height: 100px;

}
.icon {
  width: 20px;
  height: 20px;
}

.text {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  font-size: 26px;
  padding-left: 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  color: #a4a4a4;
  align-items: center;
  font-size: 16px;
  padding: 10px;
}