.filterBoxWrap {
    width: 100%;

}

.filterBox {
    width: 1240px;
    margin: 30px auto 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterText {
    font-weight: 750;
    font-size: 25px;
    color: white;
}

.filter {
    width: 210px;
    padding: 12px;
    font-size: 15px;
    border: 1px;
    background-color: #252525;
    color: #a4a4a4;
}