.liveList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 300px;
  padding-right: 300px;
}

.thumbnail {
  padding: 10px;
  height: 120px;
  width: 220px;
  border-radius: 15px;
}

.liveTitle {
  color: #a5a5a5;
  font-size: 18px;
  padding-bottom: 2px;
  padding-left: 5px
}

.liveSubTitle {
  color: #a5a5a5;
  font-size: 14px;
  padding-bottom: 10px;
  padding-left: 5px
;
}
